body {
    background-color: lightblue;
    /* the rest of the CSS that applies on all screen sizes, e.g.: */
    margin: 0;
    background-size: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

@media only screen and (min-width: 601px) {
    body {
        background-image: url(https://api.timeforkids.com/wp-content/uploads/2019/09/final-cover-forest.jpg);
        /* Add any other CSS for 600+ screens here */
    }
}

input{
    background-color: #03fcd3;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}